h1 {
    color: ivory;
    background-color: lightblue;
}

p {
    color: lightcoral;
    background-color: lightseagreen;
}

h3 {
    color: maroon;
    background-color: midnightblue;
}